<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>multiplyApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F58F37B1D899C7B00F517C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F58F38F1D899C7B00F517C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F58F39A1D899C7B00F517C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
